body {
    margin: 0;
    background: rgb(220, 0, 0);
}
.root {
    position: absolute;
    left: 0;
    background: inherit;
    width: 100%;
}
.main {
    position: relative;
    top: 86px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.menu {
    position: fixed;
    width: 100%;
    background-color: rgb(230,230,230);
    box-shadow: 2px 0px 5px rgb(150,150,150);
    z-index: 10;
}
.content {
    margin-top: 21.44px;
    margin-right: 4%;
    background-color: rgb(250,250,250);
    padding: 30px;
    box-shadow: 2px 2px 5px rgb(200,200,200);
}
.red {
    color: rgb(220,0,0);
}
.yellow {
    color: rgb(255, 251, 0);
}
.lightgreen {
    color: rgb(181,230,29);
}
.lightblue {
    color: rgb(29,161,242);
    text-decoration: none;
}
.purple {
    color: rgb(150,50,250);
    text-decoration: none;
}
.lightgray, i, .fangshi a {
    color: inherit;
}
.sticky {
    padding: 10px;
    color: rgb(80,80,80);
    transition: all 1s;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    border-radius: 10px;
    width: 305.766px;
    position: sticky;
    transition: all 1s;
    background-color: rgb(250,250,250);
    box-shadow: 2px 2px 5px rgb(200,200,200);
}
.sticky:hover {
    color: black;
    border-radius: 25px;
    padding: 25px;
    margin-left: 6%;
}
.stickybox:hover {
    margin-left: 6%;
    margin-right: 7%;
}
.stickybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
    margin-right: 6%;
    margin-top: 21.44px;
    transition: all 1s;
}
.fangshi ul {
    list-style-type: none;
}
.projects, .posts, .diary {
    margin-top: 21.44px;
    color: rgb(100,100,100);
    transition: all 1s;
}
.projects:hover, .posts:hover, .diary:hover {
    color: black;
}
a {
    color: inherit;
}
.menu {
    padding: 22px;
    color: rgb(181,230,29);
}
h1 {
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.list {
    margin-top: 50px;
}
.diary table, .diary th, .diary td {
    border-style: solid;
    border-width: 1px;
    margin: 20px 0;
    border-spacing: 0;
}
a button {
    padding: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200,200,200);
    background: rgb(0, 131, 65);
    color: white;
}
.smallavt {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(200,200,200);
    border-width: 1px;
    overflow: hidden;
}
.llg {
    color: rgb(250,250,250);
}
z {
    font-size: 12px;
    display: block;
}
span {
    color: orange;
}
.list li {
    margin-bottom: 30px;
}
.kttext {
    font-family: '楷体';
    font-size: 18px;
}
